<div class="bg-img d-flex justify-content-center align-items-center mb-5">
    <p class="bg-white p-3 rounded" style="opacity: 90%;">
      Volinkとは、<br>
      ボランティアを「したい」という声と<br>
      活動を経験した人々の声が<br>
      linkするためのボランティアプラットホームです。<br>
    </p>
</div>

<div class="button-group">
  <h4>ボランティアの口コミを見たいなら今すぐ登録！<h4>
  <%= link_to "ログイン", tweets_path, class: "btn-square-pop" %>
  <%= link_to "新規登録", new_user_registration_path, class: "btn-square-pop" %>
</div>

<div class="new-post-header-image"> 
  <%= image_tag "6.jpg", alt: "新規投稿バナー" %>
  <h4>Volink<h4>
  <h5>ボランティア活動をサポートします<h5>
</div>